{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="../static/css/alert.css">
    <title>Animes</title>
    
    {% block content %} 
    {% endblock %}

    <footer class="footer">
        <div class="container-footer">
            <div class="copy-footer">
                &copy; dodoproduções
            </div>
            <ul class="lista-footer"> 
                <li> <a href="https://www.facebook.com/" target="_blank" rel="next"><img class="img-footer" src="{% static 'img/icons/facebook-icon.png' %}" alt=""></img></a></li>
                <li> <a href="https://www.instagram.com/" target="_blank"> <img class="img-footer" src="{% static 'img/icons/instagram-icon.png' %}" alt=""></a></li>
                <li> <a href="https://twitter.com/" target="_blank"> <img class="img-footer" src="{% static 'img/icons/twiiter-icon.png' %}" alt=""></a></li>
                <li> <a href="https://www.youtube.com/" target="_blank"> <img class="img-footer" src="{% static 'img/icons/youtube-icon.png' %}" alt=""></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>